// ============================
//   17. Table css start
// ============================
@use 'sass:color';

.table {
  &.table-align-center {

    td,
    th {
      vertical-align: middle;
    }
  }

  thead th {
    padding: 0.9rem 0.75rem;
    border-bottom: 1px solid #f1f1f1;
    font-size: 13px;
    color: #262626;
    background: rgba(244, 247, 250, 0.5);
    text-transform: uppercase;
  }

  td,
  th {
    border-top: 1px solid $border-color;
    border-bottom: none;
    white-space: nowrap;
    padding: 0.7rem 0.75rem;
    vertical-align: middle;
  }

  &.table-borderless {

    td,
    th {
      border: none !important;
    }
  }
}

.table-hover tbody tr:hover {
  background-color: #{color.adjust($primary, $alpha: -0.97)};
}

// ==============================
// DASHBOARD TABLE
// ==============================

.table {
  thead {
    th {
      font-size: 0.75rem;
      font-weight: 600;
      text-transform: uppercase;
      color: #6b7280;
      border-bottom: 1px solid #e5e7eb;
    }
  }

  tbody {
    td {
      font-size: 0.875rem;
      color: #374151;
      vertical-align: middle;
    }
  }
}


// ============================
//   17. Table css end
// ============================